<div class="row justify-content-center mt-4">
    <div class="col-10">
      <div name="eng_elem">
        <h4>Instructions</h4>
        <p class="lh-base mb-1">In this experiment, you will be asked to watch a series of video and, answer a question per each of these. 
          This survey is about a robot actor, which is learning to improvise on a stage with an actor.
          In a video you can see one of fourteen scenic actions the robot can perform.</p>
        
        <p class="lh-base mb-2">The scope of the experiment is to understand if people can recognize what a robot is trying to communicate.</p>
        <p class="lh-base">Here is a very trivial video <b>example</b>
        </p>
      </div>
      <div style="display: none" name="it_elem">
        <h4>Istruzioni</h4>
        <p class="lh-base mb-1">Ti verrà chiesto di analizzare una serie di video e rispondere alla domanda che ti viene posta. 
          Questo esperimento riguarda un robot attore, che sta imparando ad improvvisare, interagendo con un attore.
          In ogni video vedrai un robot interpretare una di quattordici azioni sceniche che il robot può eseguire.<p>
        
        <p class="lh-base mb-2">Il nostro scopo è quello di capire se le azioni del robot sono riconoscibili. </p>
        <p class="lh-base">Qui puoi trovare un video di <b>esempio</b>
        </p>
      </div>
      <div class=" ratio ratio-16x9 border">
        <iframe src="https://www.youtube.com/embed/HchooaAwLdI?controls=0&autoplay=0&mute=1&playlist=HchooaAwLdI&loop=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; clipboard-write; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
      </div>
    </div>
  </div>