{% extends "base.html" %}
{% block title %}Human Evaluation of Robot's Reactions{% endblock %}
{% block navbar_title %}Human Evaluation of Robot's Reactions{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks for answering</title>
</head>
<body>
    <div name="eng_elem" style="display: none">
        <h1 style="text-align: center">Thanks for answering 😀</h1>
    </div>
    <div name="it_elem" style="display: none">
    <h1 style="text-align: center">Grazie per aver partecipato 😀</h1>
    </div>
</body>
</html>
{%  endblock %}