<div class="row justify-content-center mt-4">
    <div class="col-10">
      <div name="eng_elem">
        <h4>Instructions</h4>
        <p class="lh-base mb-2">This experiment consists of a video with two interactive buttons (<b>LIKE</b> and <b>DISLIKE</b>).</p>
        <p class="lh-base mb-1">You will be asked to watch the video and, in the meanwhile, express your appreciation by clicking on the rating button. 
          The video consists of a series of improvised scenes between a robot and a human actor.</p>
        
        <p class="lh-base mb-2">The scope of the experiment is to get when a particular scene is appreciated, or not, by the audience.</p>
        <p class="lh-base">Please, try to be as reactive as possible by clicking on the relative button when you like or dislike a scene. </p>
        <p class="lh-base"><b>ATTENTION:</b> You can press the buttons whenever you want and as many times as you want. Continuous interaction is appreciated! 😊 </p>
        <p class="lh-base">Here is a very trivial video <b>example</b>
        </p>
      </div>
      <div style="display: none" name="it_elem">
        <h4>Istruzioni</h4>
        <p class="lh-base mb-2">Questo esperimento consiste nel vedere un video con due bottoni interattivi: <b>LIKE</b> e <b>DISLIKE</b>.<p>
        <p class="lh-base mb-1">Ti chiediamo di reagire, mentre il video è in riproduzione, esprimendo il tuo giudizio attraverso i pulsanti. 
          Il video consiste in una serie di scene improvvisate tra un robot ed un attore.<p>
        
        <p class="lh-base mb-2">il nostro scopo è quello di capire quando una particolare scena piace o meno al pubblico. Ti chiediamo perciò di essere quanto più interattivo possibile: non appena noti che una scena ti è particolarmente piaciuta, o meno, clicca il bottone relativo! </p>
        <p class="lh-base"><b>ATTENZIONE:</b> Puoi premere i bottoni quante volte vuoi e quando vuoi. Reazioni continue sono apprezzate! 😊 </p>
        <p class="lh-base">Qui puoi trovare un video di <b>esempio</b>
        </p>
      </div>
      <div class=" ratio ratio-16x9 border">
        <iframe src="https://www.youtube.com/embed/2XVxPoLKOC4?controls=0&autoplay=0&mute=1&playlist=2XVxPoLKOC4&loop=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; clipboard-write; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
      </div>
    </div>
  </div>